.wrapper{
  width: 100%;
  height:100%;
  display: flex;
}
.wrapper-left{
  flex-shrink: 0;
  width: 230px;
  height:100%;
  transition: width 0.5s;
  .wrapper-left-top{
    position: relative;
    z-index: 1000;
    display: flex;
    width:100%;
    height:60px;
    background: #333;
    box-shadow: 0 1px 5px 1px #606266;
    .wrapper-logo{
      flex-shrink: 1;
      width: calc(230px - 66px);
      height: 100%;
      background: url("../../../assets/images/logo1.png");
      background-position: 20px center;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }
    .wrapper-shrink{
      flex-shrink: 0;
      width: 66px;
      height:60px;
      line-height:60px;
      color: #eee;
      font-size:20px;
      cursor: pointer;
    }
  }
  .wrapper-left-body {
    width: 100%;
    height: calc(100% - 60px);
    text-align: left;
    background: rgb(238, 241, 246);
    overflow: auto;
    z-index: 999;
    .wrapper-left-left-icon{
      margin-right:8px;
      color: #999;
    }
  }
}
.wrapper-right{
  flex-shrink: 1;
  width: 100%;
  .wrapper-right-top{
    width:100%;
    height:60px;
    background: #333;
    box-shadow: 0 1px 5px 1px #606266;
  }
}
