#wrapper{
  position:relative;
  width:100%;
  height: 100%;
}
.loginWrap{
  position: absolute;
  top:50%;
  right:160px;
  width: 380px;
  height: 270px;
  transform:translate(-50%,0);
}
.loginWrap-header{
  display: flex;
}
.loginWrap-header>div{
  width:100%;
  text-align: center;
}
.loginWrap-center-view{
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.loginWrap-center-view>.label{
  flex-shrink: 0;
  width: 75px;
}
.loginWrap-center-view>input{
  flex-shrink: 1;
  width: 100%;
}
